.app-container {
  position: relative;
  min-height: 100vh;
}

.centered-button {
  position: absolute;
  width: 300px;
  height: 150px;
  bottom: 20px; /* You can adjust the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.centered-content {
  text-align: center;
}

.centered-content img {
  margin-top: 10vh;
  max-width: 50%; /* Ensure the image does not exceed its specified width */
  max-height: 50%; /* Ensure the image does not exceed its specified height */
}
